// 公共样式

// 图标样式
.icon_style{
    width: 25px;
    height: 25px;
}

// 图片公共样式——round
.siderbar_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 100%;
}

// 标题字体样式
.title_style{
    margin-top: 47px;
    font-size: 20px;
    font-weight: bold;
    // 鼠标手势
    cursor: pointer;
    // 禁止复制
    user-select: none;
}
